<%- include ("_header") %>

<!-- <h3>arduino data : <span  id="arduino"></span> </h3>
<h2>temperature Air 1 : <span  id="temp"></span> °C</h2> 
 <h2>humidity Air 1 : <span  id="hum"></span> %</h2>
<h2>humidity sol valeur 1 : <span  id="HV1"></span> </h2>
<h2>humidity sol porcent 1 : <span  id="HP1"></span> %</h2>
<h2>Date : <span  id="Date"></span> </h2>
<h2>Time : <span  id="Time"></span> </h2>

<div>    -->

<!-- HORAIRE -->

        <section class="container">
            <div class="block">
                <h3>Temperature d'air</h3>
                <p> Ici l'humidité d'air avec les valeurs en cours </p>
                <div class="valeur">
                    <p id="temp">#Valeur en cours</p> 
                </div>
            </div>
        </section>
    
        
    
        <section class="container">
            <div class="block">
                <h3>Humidité d'air</h3>
                <p> Ici l'humidité de l'air avec les valeurs en cours </p>
                <div class="valeur">
                    <p id="hum">#Valeur en cours</p>
                </div>
            </div>
        </section>

<%- include ("_footer") %>