<%- include ("_header") %>

<section class="container">
    <div class="block">
        <h3>Humidité de sol</h3>
        <p> Ici l'humidité du sol du Deuxième Témoin </p>
        <div class="valeur">
            <p id="HP1">#Valeur en cours</p>
        </div>
    </div>
</section>


<section class="container">
    <div class="block">
        <h3>Humidité d'air</h3>
        <p> Ici l'humidité de l'air du Deuxième Témoin</p>
        <div class="valeur"><p id="hum">#Valeur en cours</p> </div>
    </div>
</section>


<section class="container">
    <div class="block">
        <h3>temperature d'air</h3>
        <p> Ici la temperature de l'air du Deuxième Témoin</p>
        <div class="valeur"><p id="temp">#Valeur en cours</p> </div>
    </div>
</section>

<%- include ("_footer") %>